*{
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track{
    background-color: white;
    
}

body::-webkit-scrollbar-thumb{
    background: rgb(255, 203, 161);
    border-radius: 10px;
   
}




/*INICIO*/

.div_inicio{
    width: 100%;
    height: 1075px;
}


.div_inicio h1{
	color: #fff;
	position: relative;
    font-style: italic;
}


.texto_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

/*VIDEO*/

.padre_video{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.div_video{
  position: absolute;
}


.div_video::before{
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.356);
}







/*NAVEGACIÓN*/


.li_header{
    position: relative;
}



.div_nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
}

.nav{
    width:100%;
    display: flex;
    justify-content: space-evenly; 
}

.nav li{
    list-style: none;
    position: relative;
}

.nav a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.li_header{
    padding-top: 45px;
    list-style: none;
}

.logo{
    position: relative;
    width: 150px;
    height: 150px;
    transition: all 0.5s;

}

.logo:hover {
    transform: scale(130%);
    transition: all 0.5s;
}




/*INFO HOTEL COVID 19*/


.info_hotel{
    width: 100%;
    height: 150px;  
    margin-bottom: 20px;
}


.texto_info{
    height: 135px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    background-color: rgb(255, 203, 161);  
}

.texto_info p{
   padding-top: 40px;
   font-family: 'Work Sans', sans-serif;
}

.texto_info a{
    text-decoration: none;
    color: black;
}


.texto_info a:hover{
    color: white;
    text-decoration: underline;
}

.imagenes{
    width: 100%;
    height: 500px;
}






/*IMÁGENES HOTEL*/



.imagenes_hotel{
    height: 960px;
}


.div_imagenes{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.imagen_div{
    width: 500px;
    height: 600px;
    text-align: center;
}

.imagen{
    width: 450px;
    max-width: 100%;
    border-radius: 50px;}

.imagen_div p{
    padding-top: 40px;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    
}




/**PADRE GRID ESTANCIAS**/

.padre_sala{
    width: 100%;
    height: 1110px;
    display: grid;
    grid-template-columns: repeat(7, 265.6275px);
    grid-template-rows: repeat(12, 100px);
    margin-bottom: 100px;
    justify-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.titulo_salas{
    text-align: center;
    grid-column: 4/6;
    grid-row: 1 ;
    width: 100%;
    height: 45px;
    margin-bottom: 50px;
    
}

.titulo_salas p{
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}





 /**SALA 1**/

.div_fondo{
    width: 500px;
    height: 700px;
    background-color: rgb(255, 203, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1/3;
    margin-left: 31px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.imagen_sala1{
    width: 400px;
    height: 600px;
    background-position: center center;
    background-size: cover;
    background-image: url(../Imgs/suite1editada.jpg);
} 


.texto_sala1{
    grid-row: 2;
    grid-column: 3/5;
    margin-left: 25px;
}

.texto_sala1 p{
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}




/**SALA 2**/

.div_fondo2{
    width: 500px;
    height: 700px;
    background-color: rgb(255, 203, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5;
    grid-column: 6/8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

.imagen_sala2{
    width: 400px;
    height: 600px;
    background-position: center center;
    background-size: cover;
    background-image: url(../Imgs/suite2.jpg);
}

.texto_sala2{
    grid-row: 9/10;
    grid-column: 4/6;
}

.texto_sala2 p{
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}




/**SALA 3**/

.div_fondo3{
    width: 550px;
    height: 300px;
    background-color: rgb(255, 203, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 6/7;
    grid-row: 1/3;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


}

.imagen_sala3{
    width: 500px;
    height: 250px;
    background-position: center center;
    background-size: cover;
    background-image: url(../Imgs/suite3.jgp.jpg);
}



/*SALA 4*/

.div_fondo4{
    width: 550px;
    height: 300px;
    background-color: rgb(255, 203, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 10;
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
.imagen_sala4{
    width: 500px;
    height: 250px;
    background-position: center center;
    background-size: cover; 
    background-image: url(../Imgs/suite4.webp);

}



/**BOTTOM DE RESERVA**/

.boton-reserva{
    grid-column: 4/5;
    grid-row: 6/8;
    height: 40%;
    margin: auto;
    width: 230px;
    transition: all 0.5s;
    background-color: rgb(255, 203, 161);
    border: none;
    text-align: center;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}



.boton-reserva:hover{
    transform: scale(110%);
    transition: all 0.5s;
}


/*GRID PADRE GASTRONOMIA*/

.div_gastronomia_padre{
    width: 100%;
    height: 1300px;
    display: grid;
    grid-template-columns: repeat(7, 265.6275px);
    grid-template-rows: repeat(9, 100px);
    justify-items: center;
    justify-content: center;
}


/*GASTRONOMIA*/

.titulo_gastronomia{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}


.img1_gastronomia{
    background-image: url(../Imgs/imagen_gastronomia2.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-row: 2;
    grid-column: 1/3;
    
}

.img2_gastronomia{
    background-image: url(../Imgs/gastronomia_img1.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-column: 3/6;
    grid-row: 2;

}

.img3_gastronomia{
    background-image: url(../Imgs/imagen_gastronomia3.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-column: 6/8;
    grid-row: 2;
}

.img4_gastronomia{
    background-image: url(../Imgs/imagen_gastronomia4.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 9;
}

.img5_gastronomia{
    background-image: url(../Imgs/imagen_gastronomia5.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-column: 3/6;
    grid-row: 9;

}

.img6_gastronomia{
    background-image: url(../Imgs/imagen_gastronomia6.jpg);
    width: 400px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    grid-column: 6/8;
    grid-row: 9;
}

.texto_gastronomia{
    grid-row: 7;
    grid-column: 3/6;
    margin-top: 30px;
}

.texto_gastronomia p{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}




/**FOOTER**/

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 25px;
    background-color: #fff;
}


.links_footer a{
    color: black;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
}


.copy_rights{
    font-family: 'Work Sans', sans-serif;
 
}






/*********************************NOSOTROS******************************************/




/*MAVEGACION*/



.logo1{
    height: 130px;
}

.li_logo1{
    background-color: #c8ca96;
    height: 150px;
} 

.nav2{
    background-color: white;
    margin-bottom: 50px;
}

.nav2 p{
    color: black;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

.li_n{
    padding-top: 30px;
}





/*CONTENEDOR*/


.c_nosotros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




/*CONNTACTOS**/

.contacto{
    width: 350px;
    display: flex;
    align-items: center;  
}

.c{
    padding: 10px;
}


.imagss{
    width: 600px;
    height: 400px;
    border-radius: 25px;
}


.contenedor_nosotros{
    margin-bottom: 50px;
}



.footer_nosotros{
    background-color: #fff;
}


iframe{
    border-radius: 25px;
}









/********************************CONTACTOS*************************************************/



.li_logo{
    height: 150px;
    background-color: #c8ca96;
}

.nav2{
    background-color: white;
}

.nav2 p{
    color: black;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}


.encabezado{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 7px;
    font-family: 'Work Sans', sans-serif;
}
  

.form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
    height: 450px;
}
  

.input_c{
    font-size: 15px;
    width: 485px;
    height: 50px;
    padding-left: 15px;
    background: transparent;;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    outline: none;

}



input:hover {
    background: #b3aca7;
    color: #e2dedb;
}
  
.message{
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;   
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border: solid 1px #b3aca7;
    outline: none;
}
  
.message:hover {
    background: #b3aca7;
    color: #e2dedb;
}

  
.submit {
    width: 502px;
    font-size: 0.875em;
    color: #b3aca7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
}


.submit:hover {
    color: #e2dedb;
}


.footer_contactos{
    background-color: white;
}







/**************************************RESERVAS****************************************/

select{
    font-size: 15px;
    width: 502px;
    height: 50px;
    padding-left: 15px;
    background: transparent;;
    color: #726659;
    border: #b3aca7 0.5px solid;
    outline: none;

}

.label_e, .label_s{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    border-left: #b3aca7 1px solid;
    border-right: #b3aca7 1px solid;
    width: 500px;
}       


.input_entrada, .input_salida{
    font-size: 15px;
    height: 50px;
    background: transparent;;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    outline: none;

}

.input_entrada{
    text-align: center;
    width: 500px;
}

.input_salida{
    text-align: center;
    width: 500px;
}


.label_s, .label_e{
    display: flex;
    flex-direction: column;
}

.label_adultos, .label_n{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.adultos, .niños{
    width: 150px;
    margin-bottom: 5px;
    border-bottom: #b3aca7 1px solid;
    text-align: center;
}


.aaa{
    display: flex;
    justify-content: space-evenly;
    border-left: #b3aca7 1px solid;
    border-right: #b3aca7 1px solid;
    width: 499px

}


.titulo_reservas{
    margin-bottom: 50px;
}


.imag_reservas{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.reserva1{
    background-image:url(../Imgs/suite1editada.jpg) ;
    width: 300px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.reserva2{
    background-image: url(../Imgs/suite2.jpg);
    width: 300px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.reserva3{
    background-image: url(../Imgs/suite3.jgp.jpg);
    width: 300px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}

.reserva4{
    background-image: url(../Imgs/suite4.webp);
    width: 300px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}